<?php
header("Content-type: text/html; charset=utf-8");
echo $this->form; ?>

<script type="text/javascript">
$(document).ready(function()
{
    $("input").blur(function()
    {
        var formElementId = $(this).parent().prev().find('label').attr('for');

        doValidation(formElementId);
    });
});
function doValidation(id)
{
    var url = '<?php echo $this->baseUrl(); ?>/usuario/validateform'
    var data = {};
    $("input").each(function()
    {
        data[$(this).attr('name')] = $(this).val();
    });
    $.post(url,data,function(resp)
    {
        $("#"+id).parent().find('.errors').remove();
        $("#"+id).parent().append(getErrorHtml(resp[id], id));
    },'json');
}
function getErrorHtml(formErrors , id)
{
    if(formErrors)
    {
        var o = '<ul id="errors-'+id+'" class="errors">';
        for(errorKey in formErrors)
        {
            o += '<li>' + formErrors[errorKey] + '</li>';
        }
        o += '</ul>';
        return o;
    }
}

function buscaCidades(idUf)
{
    $("#cidade").html("<option value=''>Carregando...</option>");
    $.ajax({
        url: '<?php print $this->baseUrl() ?>/usuario/recuperacidades',
        dataType: 'json',
        data: {'EST_UF': idUf},
        type: 'GET',
        success: function(data){
            $("#cidade").html("");
            jQuery.each(data, function(i, val) {
                $("#cidade").append("<option>" + val.CID_TXT_NOME.toString() + "</option>");
            });
        }
    });
}
</script>