<?php print $this->docType(); ?>
<html lang="pt_BR">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<!-- <link rel="stylesheet" type="text/css" href="<?php print $this->baseUrl; ?>/css/style.css" media="screen"> -->
	<!-- <script type="text/javascript" src="<?php print $this->baseUrl; ?>/js/jquery-1.3.2.min.js"></script> -->
    </head>
    <body>
        <h2>Layout de Admin</h2>
        <?php print $this->layout()->content; ?>
    </body>
</html>
