<?php print $this->docType(); ?>
<html>
<head>
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />-->
<title>Quero Eventos</title>
<?php echo $this->jQuery(); ?>
<style type="text/css">
<!--
.txt1 {
	font-family: Tahoma;
	font-size: 11px;
	color: #7E9AAB;
}
body,td,th {
	font-family: Tahoma;
	font-size: 10px;
	color: #6A8494;
}
.txt2 {
	color: #7E9AAB;
}
a {
	color: #F13131;
}
-->
</style>
</head>

<body style="padding:0;margin:0 ">
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr>
    <td valign="top" align="center"><table border="0" cellspacing="0" cellpadding="0" width="726">
  <tr>
    <td valign="top"><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><img src="<?php echo $this->baseUrl(); ?>/images/top1.gif"></td>
	<td width="255" align="center" valign="middle" background="<?php echo $this->baseUrl(); ?>/images/top2.gif" class="txt1"> </td>
  </tr>
</table>

</td>
  </tr>
  <tr><Td valign="middle" height="24" background="<?php echo $this->baseUrl(); ?>/images/butbg.gif"><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="Left" width="90" align="center"><a href="#" class="txt1" style="text-decoration:none;margin-left:0px;text-transform:uppercase  "><b>Home</b></a> </td>
	<td valign="Left" width="90" align="center"><a href="#" class="txt1" style="text-decoration:none;margin-left:0px;text-transform:uppercase  "><b>Login</b></a> </td>
	<td valign="Left" width="90" align="center"><a href="#" class="txt1" style="text-decoration:none;margin-left:0px;text-transform:uppercase  "><b>Agenda</b></a> </td>
	<td valign="Left" width="150" align="center"><a href="#" class="txt1" style="text-decoration:none;margin-left:0px;text-transform:uppercase  "><b>Consulta de Eventos</b></a> </td>
	<td valign="Left" width="150" align="center"><a href="#" class="txt1" style="text-decoration:none;margin-left:0px;text-transform:uppercase  "><b>Cadastro de Usuario</b></a> </td>
	<td valign="Left" width="90" align="center"><a href="#" class="txt1" style="text-decoration:none;margin-left:0px;text-transform:uppercase  "><b>Contato</b></a> </td>

  </tr>
</table>
             </Td>
  </tr>
  <Tr><Td height="10"><img src="<?php echo $this->baseUrl(); ?>/images/spacer.gif"></Td></Tr>
   <tr><Td valign="top" style="padding-left:4px"><table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="top"><img src="<?php echo $this->baseUrl(); ?>/images/3t.gif" width="720" height="20"></td>
  </tr>
  <tr>
	<Td valign="top" background="<?php echo $this->baseUrl(); ?>/images/3bgbg.gif"><div style="padding-left:10px;padding-top:13px;padding-right:20px;padding-top:14px">
		 <?php print $this->layout()->content; ?>
<br>
<br>

 </div></Td></tr>
 <tr><TD valign="top"><img src="<?php echo $this->baseUrl(); ?>/images/3bott.gif"></TD></tr>
</table>


</Td></tr>
<tr><Td height="76" align="center"  background="<?php echo $this->baseUrl(); ?>/images/botbg.gif" style="color:#7E9AAB;padding-top:15px " valign="top"><a href="#" style="color:#7E9AAB ">Home</a>    <span style="margin-left:10px;margin-right:10px ">:</span>    <a href="#" style="color:#7E9AAB ">Contato</a>     <span style="margin-left:10px;margin-right:10px ">:</span>     <a href="#" style="color:#7E9AAB ">Sobre QueroEventos</a>    <span style="margin-left:10px;margin-right:10px ">:</span>     <a href="#" style="color:#7E9AAB ">Publicidade</a>
    <div style="color:#A6B1BB ;padding-top:3px">QueroEventos.de (C) 2011</div> </Td>
</tr>
</table>
</td>
  </tr>

</table>
</body>
</html>
