<?php
header("Content-type: text/html; charset=utf-8");
echo $this->form; ?>

<script type="text/javascript">
$(document).ready(function()
{
    $("input").blur(function()
    {
        var formElementId = $(this).parent().prev().find('label').attr('for');

        doValidation(formElementId);
    });
});
function doValidation(id)
{
    var url = '<?php echo $this->baseUrl(); ?>/evento/validateform'
    var data = {};
    $("input").each(function()
    {
        data[$(this).attr('name')] = $(this).val();
    });
    $.post(url,data,function(resp)
    {
        $("#"+id).parent().find('.errors').remove();
        $("#"+id).parent().append(getErrorHtml(resp[id], id));
    },'json');
}
function getErrorHtml(formErrors , id)
{
    if(formErrors)
    {
        var o = '<ul id="errors-'+id+'" class="errors">';
        for(errorKey in formErrors)
        {
            o += '<li>' + formErrors[errorKey] + '</li>';
        }
        o += '</ul>';
        return o;
    }
}

function buscaCidades(idUf)
{
    $("#cidade").html("<option value=''>Carregando...</option>");
    $.ajax({
        url: '<?php print $this->baseUrl() ?>/evento/recuperacidades',
        dataType: 'json',
        data: {'EST_UF': idUf},
        type: 'GET',
        success: function(data){
            $("#cidade").html("");
            jQuery.each(data, function(i, val) {
                $("#cidade").append("<option>" + val.CID_TXT_NOME.toString() + "</option>");
            });
        }
    });
}

function valida_horas(edit, ev)

{

	li = new Array(':');

	liE = new Array(58);

	if(edit.value.length == 2 )

	edit.value += ":";

}
function verifica_horas(obj)

{

	if(obj.value.length < 5)

		obj.value = '';

	else

	{

		hr = parseInt(obj.value.substring(0,2));

		mi = parseInt(obj.value.substring(3,5));



		if((hr < 0 || hr > 23) || (mi < 0 || mi > 60))

		{

			obj.value = '';

			alert('Hora inválida');

		}

	}

}
</script>